<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!------- left side div ------->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/1612.jpeg" alt="me" class="img-fluid" title="Pushkaran">
                        </figure>
                        

                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        
                        <p>Welcome to Weather App</p>
                        <h1>I am a <span class="text_clr">MERN</span> stack developer</h1>
                        <a href="https://drive.google.com/file/d/15ZcQTuniL1-UZQ2KAQBNnRcvMliGb_zl/view?usp=sharing"><button class="btn btn-primary">About me</button></a>


                    </div>
                    <!------- rigt side div ------->
                    

                </div>

            </div>
        </div>
    </div>            

   {{>footer}}
</body>

</html>